html {
  font-size: 100px;
  font-family: SourceHanSansCN-Regular PingFang-Bold;
}

body {
  font-size: 0.12rem;
  background-color: #ededed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  -ms-overflow-style: none;
  font-family: SourceHanSansCN-Regular PingFang-Bold;
}

/* 背景 */
body {
  /* background-image: url('../images/bg/1.jpg'); */
  background-image: url('../images/bg/aaa.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
 /* 毛玻璃 */
body .frosted__glass__wrapper {
  position: absolute;
  top: -2rem;
  left: -2rem;
  right: -2rem;
  bottom: -2rem;
  background: inherit;
  /* backdrop-filter 兼容性不好 特别是 安卓移动端 */
  backdrop-filter: blur(.068rem);
  -webkit-filter: blur(.068rem);
  -moz-filter: blur(.068rem);
  -ms-filter: blur(.068rem);
  -o-filter: blur(.068rem);
  filter: blur(.068rem);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);
}

div::-webkit-scrollbar {
  display: none;
}

input, textarea {
  background: none;
  outline: none;
  border: none;
}

textarea{
  resize: none;
  font-family: SourceHanSansCN-Regular PingFang-Bold;
}

input[type=search]::-webkit-search-cancel-button{
  -webkit-appearance: none;
}

.user__avatar {
  width: 0.32rem;
  height: 0.32rem;
  border-radius: 50%;
}
