// 消息输入框 textarea
/*滚动条整体样式*/
textarea::-webkit-scrollbar {
  width: 0;
}
/*滚动条滑块*/
textarea::-webkit-scrollbar-thumb {
  // border-radius: 40%;
  -webkit-box-shadow: inset 0 0 .05rem rgba(0,0,0,0.2);
  // background: $msg_bg_color linear-gradient(to top, rgba(255, 240, 191, 0.1rem), #fff);
  background: $msg_bg_color linear-gradient(to top, rgba(255, 255, 255, 0), $border_color);
  // background: #b7bdcf;
}
/*滚动条轨道*/
textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 .01rem rgba(0,0,0,0);
  border-radius: 40%;
  // background: #ebebeb;
}

// 聊天窗口
/*滚动条整体样式*/
main::-webkit-scrollbar {
  width: .026rem;
}
/*滚动条滑块*/
main::-webkit-scrollbar-thumb {
  border-radius: 20%;
  // -webkit-box-shadow: inset 0 0 .2rem rgba(0,0,0,0.2);
  // background: $card_active_border_color linear-gradient(to top, rgba(255, 240, 191, 0.2), $msg_bg_color);
  background: $msg_bg_color linear-gradient(to top, rgba(255, 255, 255, 0), $border_color);
}
/*滚动条轨道*/
main::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 .1rem rgba(0,0,0,0);
  border-radius: 20%;
  background: $border_color;
  // background: $msg_bg_color linear-gradient(to right, rgba(255, 240, 191, 0), $selection_color);
}

