$bubble_color: #e93c3c;
// $card_active_border_color: #e93c3c;
$card_active_border_color: #fff;

// $bg_color: #f7f7f7;
$bg_color: #f5f5fa;

$border_color: #ebebeb;
$border_light_color: #b4b4b4;
$border_middle_color: #999;

$actived__bg__color: #dfdfdf;

// $nav_bg_color: #1a2e3f;
// $nav_bg_color: #1e2352;
$nav_bg_color: #3a4481;
// $nav_bg_color: #363d7c;
// $nav_bg_color: rgb(72, 73, 162);
// $nav_active_color: #0e6eff;
$nav_active_color: #7b9bfb;
$nav_item_color: #ffffff;

$light_font_color: #999;
$middle_font_color: #666;
$heavy_font_color: #333;
$deep_font_color: #222;
$dark_font_color: #000;

$selection_color: #4ec8dd;
// $selection_color: skyblue;

// $shadow_color: #c3cdee;
$shadow_color: #e9efff;
$shadow_middle_color: #bebebe;
// $shadow_color: #e9e9e9;
// $msg_bg_color: #7acca6;
// $msg_bg_color: rgb(65, 184, 131);
// $msg_bg_color: #3a4481;
$msg_bg_color: #3a4481;
// $msg_bg_color: #7b9bfb;

$url_font_color: #e93c3c;
// $url_font_color: orangered;

// $signUp_key_color: #ffce48;
$signUp_key_color: #ffcc1f;

$modal__border__color: rgba(0, 0, 0, .6);

$modal__title__color: #e0e0e0;

$online__color: rgb(33, 172, 33);
$offline__color: rgb(165, 165, 165);
